.item {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  color: var(--teal);
}

.item_title {
  color: var(--teal-bg);
  background-color: var(--teal);
  font-size: 3vw;
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  border-radius: 1vw;
}

.item_description,
.item_category,
.item_price,
.item_deposit,
.item_location,
.item_availability,
.item_renter-name {
  margin-bottom: 12px;
  line-height: 1.6;
}

.item_image,
.item_renter-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* Styling for Buttons */
.button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #0056b3;
}

.button:active {
  transform: translateY(2px);
}

/* Interactive Effects & Feedback */
.loader {
  border: 4px solid #f3f3f3;
  /* Light grey */
  border-top: 4px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error-message {
  color: #d8000c;
  background-color: #ffbaba;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  text-align: center;
}

.item_info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.item_label {
  font-weight: bold;
  color: #555;
}

@media (max-width: 768px) {
  .item {
    padding: 15px;
  }

  .item_title {
    font-size: 20px;
  }
}
