.pricey {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: url("https://assets.service.jetbrains.space/static/177128/br/0846f8517fd3ba607f21.svg")
    no-repeat center var(--emerald-bg);
  background-size: contain;
  box-shadow: 0 4px 8px rgba(0, 128, 128, 0.3);
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  color: var(--teal);
}

.cancel-btn {
  background-color: var(--pink);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.cancel-btn:hover {
  background-color: var(--pink-hover);
}
